body{
    background-image: url("imgs/wallpaper.webp");
    background-size:cover;
}
a{
    text-decoration: none;
    color: black;
}
#navbarColor{
    background-color: rgba(37,38,40,.29);
    backdrop-filter: blur(14px);
    height: 44px;  
}
#iconsNavbar{
    filter: invert(1)brightness(9);
    height: 100%;
    width: 18px;
}
#iconsNavbarProfile{
    height: 100%;
    width: 28px;
}
#dropdownMenuButton{
    outline: none;
}
#dropdownMenuButton:hover{
    background-color: rgba(37,38,40,.10);
}
.btn.show{
    border-color: transparent;
}
#dropdownMenuGrid{
    width: auto;
    border: none;
    margin: 0;
    padding: 0;
}

#cardsMenuDropdown{
    max-width: 100%;
    min-width: 340px;
    padding: 10px;
}
#text-navbar-points{
    font-size: 11px;
    margin-top: 3px;
}

#cardsMainBody{
    min-height: 315px;
    min-width: 315px;
    max-height: 315px;
    
}
#cardsMainBody:hover{
    box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.3);
    -xpedu-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        transition: all 0.3s ease;
        
}
.table > tbody > tr > td:not(:first-child) {
    border-left: 1px solid #dee2e6;
    
  }
  .table > tbody > tr:first-child > td:not(:first-child) {
    border-top: 0;
  }
  .table > tbody > tr > td {
    border-top: 0;
  }
  